@media screen and (max-width: 768px) {
    .login-footer, .login-footer ~ p, .login-bg-outer, .mbr-desktop-hd, .helper-links-container > .helper-item:first-child, #login-box-ad-fallback {
        display: none !important;
    }
 .login-box.right{
     height: 100% !important;
     width: 100% !important;
     border: 0 !important;
     box-shadow: none !important;
 }
}